global:
  scrape_interval: 5s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'webApi'
    metrics_path: '/status'
    static_configs:
      - targets: ['${name}-web:8080'] #TODO: Fix this